<svg width="640" height="200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <foreignObject width="640" height="200">
        <div xmlns="http://www.w3.org/1999/xhtml" class="container">
            <style>

                div {
                    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
                }
                
                .container {
                    width: 500px;
                    height: 200px;
                }

                .title {
                    width: fit-content;
                    color: #DA0037;
                    border-bottom: 2px solid #DA0037;
                }

                code {
                    background: rgba(33, 33, 33, .2);
                    color: crimson;
                }

                p {
                    padding: 4px;
                    margin: 0;
                }

                .content {
                    margin: 8px;
                    padding: 8px;
                }
            </style>

            <div class="content">
                <h2 class="title"> Invalid {{errorTitle}}</h2>
                <p>
                    {{errorMsg}}
                </p>
            </div>

        </div>
    </foreignObject>
</svg>
