<svg width="640" height="200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <foreignObject width="640" height="200">
        <div xmlns="http://www.w3.org/1999/xhtml" class="container">
            <style>

                .main {
                    /* margin-top: 10px; */
                    display: flex;
                }

                .card {
                    flex-direction: column;
                    gap: 10px;
                }

                .currentStatus {
                    float: left;
                    font-size: 24px;
                    position: static;
                    margin-top: -5px;
                    margin-left: 12px;
                    color: #777
                }
                
                .container {
                    border-radius: 5px;
                    padding: 10px 10px 10px 0px;
                }

                .flex {
                    display: flex;
                }

                .song-info {
                    flex-direction: column;
                }

                .art {
                    width: 28%;
                    float: left;
                    margin-left: -5px;
                }

                .content {
                    width: 70%;
                }

                .song {
                    color: #666;
                    overflow:hidden;
                    margin-top: -5px;
                    font-size: 24px;
                    text-align: left;
                    padding-left: 12px;
                    white-space:nowrap;
                    text-overflow:ellipsis;
                    font-weight: bold;
                }

                .artist {
                    color: #b3b3b3;
                    overflow: hidden;
                    font-size: 20px;
                    padding-left: 12px;
                    text-align: left;
                    white-space:nowrap;
                    text-overflow:ellipsis;
                }

                .album {
                    color: #666;
                    font-size: 20px;
                    padding-left: 12px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow:ellipsis;
                    font-weight: bold;
                }

                .cover {
                    width: 144px;
                    height: 144px;
                    border-radius: 4px;
                    box-shadow: 0px 0px 2px 2px rgba(102,102,102,0.75);
                }

                #bars {
                    width: 50px;
                    height: 30px;
                    bottom: 8px;
                    position: absolute;
                    margin: -20px 0 0 12px;
                }

                .bar {
                    width: 3px;
                    bottom: 1px;
                    height: 3px;
                    position: absolute;
                    background: {{barColor}};
                    animation: sound 0ms -800ms linear infinite alternate;
                }
                
                div {
                    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
                }
                
                @keyframes sound {
                    0% {
                        height: 2px;
                        opacity: 0.25;
                    }

                    25% {
                        height: 8px;
                        opacity: 0.45;
                    }

                    50% {
                        height: 18px;
                        opacity: 0.65;
                    }

                    75% {
                        height: 24px;
                        opacity: 0.85;
                    }

                    100% {
                        height: 30px;
                        opacity: 1;
                    }
                }

                @keyframes rotating {
                    from {
                        -ms-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }
                    to {
                        -ms-transform: rotate(360deg);
                        -moz-transform: rotate(360deg);
                        -webkit-transform: rotate(360deg);
                        -o-transform: rotate(360deg);
                        transform: rotate(360deg);
                    }
                }

                {{barCSS|safe}}
            </style>

            <div class="card flex">
                <div class="currentStatus">{{status}}</div>

                <div class="main">
                    <a class="art" href="{{songURL}}" target="_blank">
                        <center>
                            <img src="data:image/png;base64,{{image}}" class="cover" />
                        </center>
                    </a>

                    <div class="content">
                        <div class = "song-info flex">
                            <div class="song">{{songName}}</div>
                            <div class="artist">{{artistName}}</div>
                            <div class="album">{{albumName}}</div>
                        </div>
                        <div id="bars">{{contentBar|safe}}</div>
                    </div>
                </div>
            </div>

        </div>
    </foreignObject>
</svg>
